body { background: honeydew; color: darkred; font-size: 16pt; font-family: comic sans, sans-serif;}

h1 { font-size: 200%;
font-weight: bold;
color: navy }

h2 { font-size: 150%; font-style: italic }
nav Li { display: inline-block; border: 1px solid black; padding: 10px; margin; 5px; background: gray; width: 250px }

a { color: darkred; text-decoration:none }

a:hover { color: green }